<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.sys.mapper.SysDictTypeMapper">
    <!-- BaseResultMap和表字段一致，不允许改动 -->
    <resultMap id="BaseResultMap" type="com.sy.sys.entity.SysDictType">
        <result column="ID" property="id" />
        <result column="DICT_NAME" property="dictName" />
        <result column="DICT_TYPE" property="dictType" />
        <result column="REMARK" property="remark" />
        <result column="STATUS" property="status" />
        <result column="CREATED_DATE" property="createdDate" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="LAST_MODIFIED_BY" property="lastModifiedBy" />
    </resultMap>

    <!-- BaseResultMap和表字段一致，不允许改动 -->
    <sql id="base_column">
        ID, DICT_NAME, DICT_TYPE, REMARK, STATUS, CREATED_DATE, LAST_MODIFIED_DATE, CREATED_BY, LAST_MODIFIED_BY
    </sql>
</mapper>